<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fuel Quote - Login</title>
	<link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/main.css">
</head>
<body>



  <%- body %>

	</body>
</html>