<nav class="nav-inline border-radius">
  <ul>
    <li >
      <a href="/quote" class="button nav-link box-shadow-l">Fuel Quote</a>
    </li>
    <li class="nav-heading">
      <h1 class="display-title display-title-l">Project</h1>
    </li>
        </li>
          <li class="float-right">
      <a href="/fuelhistory" class="button nav-link box-shadow-l">Fuel Quote History</a>
    </li>
    <li class="float-right">
      <a href="/myprofile" class="button nav-link box-shadow-l">My Profile</a>
    </li>
    <li class="float-right">
      <a href="/users/logout" class="button nav-link box-shadow-l">Sign Out</a>
    </li>
  </ul>
</nav>  

<div class="profile">

  <div class="padding-m border-radius background-white profile-page box-shadow-xl margin-top-xxl margin-bottom-xxl">
    <h1 class="color-dark margin-top-m text-center display-title display-title-xl padding-bottom-m">Update Information</h1>

     <div class="profile-green text-align-center">
      <% if(message) { %>
      <p> <%= message %> </p>
      <% } %>
    </div>

    <div class="profile-green text-align-center">
    </div>

    <div>
      <p></p>
    </div>

    <form action="/saveprofile" method="POST">
<p class="field">
    <label for="form-simple-name" class="color-dark display-title display-title-1 ">Full Name</label>
    <input maxlength="50" type="name" id="form-simple-name" name="name" placeholder="Enter Name" class="color-dark input-xl box-shadow-l" />
  </p>
  <p class="field">
    <label for="form-simple-address" class="color-dark display-title display-title-1">Address 1</label>
    <input maxlength="100" type="address" id="form-simple-address" name="address" placeholder="Enter Address 1" class="color-dark input-xl box-shadow-l" />
  </p>
  <p class="field">
    <label for="form-simple-address2" class="color-dark display-title display-title-1">Address 2</label>
    <input maxlength="100" type="address" id="form-simple-address2" name="address2" placeholder="Enter Address 2" class="color-dark input-xl box-shadow-l" />
  </p>
<div class="display-inline">
  <p class="field margin-right-m">
    <label for="form-simple-city" class="color-dark display-title display-title-1">City & State</label>
    <input maxlength="100" type="address" id="form-simple-city" name="city" placeholder="Enter City" class="color-dark input-xl box-shadow-l" />
  </p>
  <p class="field">
    <label class="select select-l box-shadow-l" for="select-l">
  <select id="select-1" name="state">
    <option >State</option>
        <option value="1" name="state">TX</option>
  </select>
</label>
  </p>
</div>
    <p class="field">
    <label for="form-simple-zipcode" class="color-dark display-title display-title-1">Zipcode</label>
    <input maxlength="9" type="number" id="form-simple-zipcode" name="zipcode" placeholder="Enter Zipcode" class="color-dark input-xl box-shadow-l" />
  </p>
  <p class="field text-center">
    <button type="submit" class="button button-l color-button box-shadow-l display-title display-title-xl">Submit</button>
    <button type="reset" class="button button-l color-button box-shadow-l display-title display-title-xl">Reset</button>
  </p>
</form>

  </div>



</div>