<nav class="nav-inline border-radius">
  <ul>
    <li >
      <a href="fuelquote" class="button nav-link">Fuel Quote</a>
    </li>
    <li class="nav-heading">
      <h1 class="display-title display-title-l">Project</h1>
    </li>
          <li class="float-right">
      <a href="quotehistory" class="button nav-link">Fuel Quote History</a>
    </li>
    <li class="float-right">
      <a href="profile" class="button nav-link">My Profile</a>
    </li>
    <li class="float-right">
      <a href="register" class="button nav-link">Sign Out</a>
    </li>
  </ul>
</nav>  

<div class="profile">

  <div class="padding-m border-radius background-white profile-page box-shadow-xl margin-top-xxl margin-bottom-xxl">
        <h1 class="color-dark margin-top-m text-center display-title display-title-xl padding-bottom-m">Fuel Quote</h1>
        <form action="/save" method="POST">
  <p class="field">
    <label for="form-simple-gallons" class="color-dark display-title display-title-1">Gallons</label>
    <input type="number" id="form-simple-gallons" name="gallons" class="color-dark input-xl" />
  </p>
  <p class="field">
    <label for="form-simple-address" class="color-dark display-title display-title-1">Delivery Address</label>
    <input type="address" id="form-simple-address" name="address" placeholder="Address" class="color-dark input-xl" disabled="" />
  </p>
    <p class="field">
    <label for="form-simple-date" class="color-dark display-title display-title-1">Delivery Date</label>
    <input type="date" id="form-simple-date" name="delivery" placeholder="Enter gallons" class="color-dark input-xl" />
  </p>
   <p class="field">
    <label for="form-simple-price" class="color-dark display-title display-title-1">Suggested Price</label>
    <input type="number" id="form-simple-price" name="price" placeholder="Suggested Price" class="color-dark input-xl" disabled="" />
  </p>
     <p class="field">
    <label for="form-simple-price" class="color-dark display-title display-title-1">Total Amount Due</label>
    <input type="number" id="form-simple-price" name="gallons" placeholder="Total Amount Due" class="color-dark input-xl" disabled="" />
  </p>
  <p class="field text-center">
    <button type="submit" class="button button-l color-button box-shadow-m display-title display-title-xl">Submit</button>
    <button type="reset" class="button button-l color-button box-shadow-m display-title display-title-xl">Reset</button>
  </p>
</form>
  </div>
