<nav class="nav-inline border-radius">
  <ul>
  	<li >
      <a href="fuelquote" class="button button-m nav-link">Fuel Quote</a>
    </li>
    <li class="nav-heading">
    	<h1 class="display-title display-title-l">Project</h1>
    </li>
    <li class="float-right">
      <a href="login" class="button button-m nav-link">Login</a>
    </li>
    <li class="float-right">
      <a href="register" class="button button-m nav-link">Registration</a>
    </li>
  </ul>
</nav>	

<div class="login">

	<div class="padding-m border-radius background-white main-login box-shadow-xl margin-top-xxl">
		
  <h1 class="display-title display-title-m">Pricing Module</h1>


  <!-- This is not to be done based on the assignment instructions -->

	</div>

</div>